@mixin primary {
  background-color: var(--btnColor);
  border: 1px solid var(--btnColor);
  color: #fff;
}

.box {
  padding-inline: 50px 20px;

  :global {
    .upload {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 120px;
      background: rgb(255, 255, 255);
      color: rgb(99, 99, 136);
      border-radius: 8px;
      border: 2px dashed rgb(187, 187, 222);
      transition: all 0.25s ease 0s;
      &:hover {
        border-color: #6769fa;
      }
      .file {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      .text {
        margin-top: 5px;
      }
    }
    .content {
      display: flex;
      margin-top: 10px;
      .left {
        width: 46vw;
        .handleBtn {
          display: flex;
          align-items: center;
          position: relative;
          margin-block: 10px;
          .preview {
            margin-right: 20px;
          }
          .download {
            font-size: 18px;
            padding-bottom: 4px;
          }
        }
        .fileDetail {
          .fileNum {
            font-size: 20px;
            margin-left: 20px;
            font-weight: 500;
          }
          .typeNum {
            font-size: 20px;
            margin-left: 20px;
            font-weight: 500;
          }
        }
        .options {
          margin-block: 10px;
          span {
            display: inline-block;
            padding: 3px 10px;
            border: 1px solid #c7c7c7;
            border-radius: 6px;
            background: #fff;
            cursor: pointer;
            margin-right: 5px;
          }
          .select {
            background: #8aa4fc;
          }
        }
        ul {
          // box-shadow: 0px 0px 6px 0px #d4d3ff;
          background: #fff;
          // width: 750px;
        }
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 35px;
          padding-inline: 10px;
          // border: 0.5px solid #c7c7c7;
          border-radius: 5px;
          margin: 0 0 10px -35px;
          font-size: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .fileName {
            display: flex;
            align-items: center;
            img {
              height: 16px;
              margin-right: 7px;
            }
          }
          &:hover .delIcon {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(./img/delete1.png) center/100% 100% no-repeat;
            cursor: pointer;
          }
          &:last-child {
            padding-bottom: 20px;
          }
          &:first-child {
            padding-top: 10px;
          }
        }
      }
      .right {
        margin: 10px 0px 10px 50px;
        p {
          display: flex;
          align-items: center;
          width: 300px;
          height: 40px;
          background: #fff;
          box-shadow: 0px 0px 6px 0px #d4d3ff;
          padding-left: 5px;
          border-radius: 6px;
          &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 4 px;
          }
        }
        .dir {
          margin: 5px 8px;
        }
        .zipList {
          margin-top: 5px;
          p::before {
            background: url(./img/zip.png) center/100% 100% no-repeat;
            margin-right: 5px;
          }
        }
        .imageList {
          margin-top: 5px;
          p::before {
            background: url(./img/image.png) center/100% 100% no-repeat;
            margin-right: 5px;
          }
        }
        .textList {
          margin-top: 5px;
          p::before {
            background: url(./img/text.png) center/100% 100% no-repeat;
            margin-right: 5px;
          }
        }
        .urlList {
          margin-top: 5px;
          p::before {
            background: url(./img/url.png) center/100% 100% no-repeat;
            margin-right: 5px;
          }
        }
        .warning {
          background: rgb(255, 109, 109);
        }
      }
    }
    .btn {
      margin-top: 25px;
      text-align: center;
      button:not(:first-child) {
        margin-left: 20px;
      }

      &-texthtml {
        @include primary;
      }
      &-small {
        width: 90px;
        height: 40px;
      }
    }
  }
}

.select {
  width: 120px;
  padding-inline: 5px;
  height: 35px;
  font-size: 16px;
  outline: none;
  border-color: #6769fa;
  color: #8aa4fc;
  border-radius: 8px;
  margin-top: 16px;
  .selectOption {
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100vw;
  max-height: 100vh;
  background: #d4d4d4;
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 600px;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    .icon {
      position: absolute;
      top: 15px;
      right: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(./img/delete.png) center/100% 100% no-repeat;
      cursor: pointer;
    }
    header {
      width: 80%;
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 12px;
      padding: 5px 20px 10px;
      border-bottom: 0.5px solid #d4d4d4;
    }
    section {
      display: flex;
      flex-grow: 1;
      width: 100%;

      .left {
        width: 80%;
        height: 470px;
        line-height: 100%;
        text-align: center;
        margin-right: 20px;
        background: #c7d4ff;
        border-radius: 8px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          box-shadow: 0px 0px 6px 0px #d4d3ff;
        }
        .loading {
          width: 100%;
          max-height: 100%;
          margin-bottom: 100px;
        }
      }
    }
  }
}
